<mat-nav-list class="menu-bar" role="navigation" aria-label="navigation">
  <ul aria-label="top menu">
    <li *ngFor="let item of this.topmenuList">
      <a
        [routerLink]="[item.path]"
        [routerLinkActive]="['moni-menu-btn__selected']"
        [routerLinkActiveOptions]="
          item.name === 'Home' ? { exact: true } : { exact: false }
        "
        class="moni-menu-btn"
        (click)="menuItemSelected(item.id)"
        (keyup.enter)="menuItemSelected(item.id)"
        >{{ item.name }}</a
      >
    </li>
  </ul>

  <section aria-label="bottom-menu">
    <button
      class="moni-dropdown-menu"
      aria-label="dropdown-menu"
      (click)="toggleDropdownMenu()"
    >
      <p class="mb-0">Monireal Admin</p>
      <mat-icon
        class="ml-2 text-tw-text-white transitions-all duration-300 {{
          this.is_dropdown ? 'rotate-180' : ''
        }}"
        fontSet="material-symbols-outlined"
        aria-hidden="false"
        >expand_more</mat-icon
      >
    </button>
    <ul
      class="transition-all duration-300 opacity-0 {{
        is_dropdown ? 'block opacity-100' : 'hidden opacity-0'
      }}"
    >
      <li *ngFor="let item of this.bottomMenuList">
        <a
          [routerLink]="[item.path]"
          [routerLinkActive]="['moni-menu-btn__selected']"
          [routerLinkActiveOptions]="
            item.name === 'Home' ? { exact: true } : { exact: false }
          "
          class="moni-sub-menu-btn"
          (click)="menuItemSelected(item.id)"
          (keyup.enter)="menuItemSelected(item.id)"
          >{{ item.name }}</a
        >
      </li>
    </ul>
  </section>
</mat-nav-list>
